.image-slider-container .slick-prev{
  left: 3rem;
}
.image-slider-container .slick-next{
  right: 3rem;
}

.image-slider-container .slick-prev, .image-slider-container .slick-next{
    z-index: 1;

}